.accueil {
  padding-left: 10%;
  padding-right: 10%;
  .suggestions {
    width: 450px;

    .items-liste {
      background-color: rgb(35, 41, 51);
    }

    .suggestion {
      color: white;
      padding-left: 4px;
      padding-right: 4px;

      .highlight {
        color: orange;
      }

      .complements {
        font-size: small;
        font-style: italic;
        color: LightGray;
        &:before {
          content: "–";
          padding: 0px 2px;
        }
        .suggestion-niveau {
          margin-right: 4px;
        }
        .suggestion-code {
          margin-right: 3px;
        }
      }
      .suggestion-libelle {
      }

      &:hover {
        cursor: pointer;
        background-color: gray;
        .highlight {
        }
      }
    }
  }

  .rubrique {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
