node_modules/
target/
.settings/
.project
.classpath
yarn.lock
*-build.js*
*.map
*.class
*.log
classes/
src/main/resources/solr/nafrev2/data/

docs/test/
docs/*.yml
docs/bower.json
docs/CONTRIBUTING.md
docs/demo.html
docs/Gruntfile.js
docs/LICENSE
docs/package.json
docs/README.md