.fiches {
  background-color: #cdd2d8;
  position: absolute;
  left: 0;
  width: 20%;
  height: 100%;
  clear: both;
  overflow: auto;
  padding: 5px;
  border-right: 1px solid black; }
  .fiches .liste-note,
  .fiches .racine {
    all: initial; }
    .fiches .liste-note *,
    .fiches .racine * {
      all: unset; }
    .fiches .liste-note .note-container,
    .fiches .racine .note-container {
      display: block;
      padding: 2px;
      cursor: pointer;
      background-color: white; }
    .fiches .liste-note .indent,
    .fiches .racine .indent {
      padding-left: 40px !important; }
    .fiches .liste-note .selected,
    .fiches .racine .selected {
      background-color: #3d6699 !important;
      color: white; }
    .fiches .liste-note .note-container:before,
    .fiches .racine .note-container:before {
      content: ">";
      margin-right: 2px; }
    .fiches .liste-note .node-code,
    .fiches .racine .node-code {
      padding: 5px 0; }
    .fiches .liste-note .node-code:after,
    .fiches .racine .node-code:after {
      content: "-"; }
