.fiches {
  background-color: #cdd2d8;
  position: absolute;
  left: 0;

  width: 20%;
  height: 100%;
  clear: both;
  overflow: auto;
  padding: 5px;

  border-right: 1px solid black;

  .liste-note,
  .racine {
    all: initial;
    * {
      all: unset;
    }

    .note-container {
      display: block;
      padding: 2px;
      cursor: pointer;
      background-color: white;
    }
    .indent {
      padding-left: 40px !important;
    }

    .selected {
      background-color: #3d6699 !important;
      color: white;
    }

    .note-container:before {
      content: ">";
      margin-right: 2px;
    }
    .node-code {
      padding: 5px 0;
    }

    .node-code:after {
      content: "-";
    }

    .node-libelle {
    }
  }
  .arbre-fiche {
  }
}
