ul li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0; }

#application {
  height: 100%; }

.nav-bar {
  background-color: LightGray;
  padding: 5px 10px; }
  .nav-bar .liens a {
    text-decoration: none;
    margin-right: 2px; }
  .nav-bar .liens .active {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 4px;
    background-color: #4479ba;
    color: #fff; }
    .nav-bar .liens .active:hover {
      background-color: gray;
      color: white;
      border-radius: 4px; }
  .nav-bar .liens .inactive {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 4px;
    color: gray;
    background-color: white; }
    .nav-bar .liens .inactive:hover {
      background-color: gray;
      color: white;
      border-radius: 4px; }
