ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#application {
  height: 100%;
}

.nav-bar {
  margin: 4px;
  a {
    text-decoration: none;
  }
  .active {
    display: inline-block;
    margin: 1px;
    padding: 8px 15px;
    border-radius: 4px;
    background-color: #4479ba;
    color: #fff;
    &:hover {
      background-color: gray;
      color: white;
      border-radius: 4px;
    }
  }

  .inactive {
    display: inline-block;
    margin: 1px;
    margin: 1px;
    padding: 8px 15px;
    color: gray;
    background-color: white;
    &:hover {
      background-color: gray;
      color: white;
      border-radius: 4px;
    }
  }
}
