.recherche {
  padding-left: 10%;
  padding-right: 10%;
  .search {
    width: 450px;
  }

  .search {
    .icone-search {
      display: block;
      width: 15px;
      height: 15px;
      position: absolute;

      top: 7px;
      right: 3px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
